<div class="navbar">
    <h3 class="text">Menu</h3>
    <p class="navtext"><a href="/profile/edit" class="navtext">Edit Profile</a></p>
    <p class="navtext"><a href="/newsletter" class="navtext">Newsletter</a></p>
    <p class="navtext"><a href="/logout" class="navtext">Logout</a></p>
</div>
